* {
    box-sizing: border-box;
  }
  

  .App {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    outline: none;

  }
  
  #edit,
   #previewer {
    width: 50%;
    
   
  }

  #preview {
    overflow-y: scroll;
  }
  
  .content {
      width: 99%;
      height: 95vh;
      min-height: 200px;
      margin-bottom: -5px;
      resize: vertical;
      padding-left: 5px;
      padding-top: 5px;
      font-size: 0.875rem;
      outline: 1px solid black;
      overflow-wrap: break-word;
      border-collapse: collapse;
    }
  
    img {
      max-width: 90%;
      max-height: 50px;
    }

    blockquote {
      border-left: 3px solid black;
      padding-left: 5px;
    }

    table,
    td, th {
      border-collapse: collapse;
      border: 2px solid black;
    }

    code {
      background-color: dimgrey;
      color: white;
    }